In [70]:
import numpy as np
import pandas as pd
import sqlite3
from scipy.stats import chi2_contingency
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

cnx = sqlite3.connect('database.sqlite')

player_data = pd.read_sql("SELECT id, player_api_id, player_name, birthday, height, weight FROM Player", cnx)
player_stats_data = pd.read_sql("SELECT id, player_api_id, date, overall_rating, potential, preferred_foot, attacking_work_rate, defensive_work_rate, crossing, finishing, heading_accuracy, short_passing, volleys, dribbling, curve, free_kick_accuracy, long_passing, ball_control, acceleration, sprint_speed, agility, reactions, shot_power, jumping, stamina, strength, long_shots, aggression, interceptions, positioning, vision, penalties, marking, standing_tackle, sliding_tackle, gk_diving, gk_handling, gk_kicking, gk_positioning, gk_reflexes FROM Player_Attributes", cnx)
match_data = pd.read_sql("SELECT id, country_id, league_id, season, stage, date, match_api_id, home_team_api_id, away_team_api_id, home_team_goal, away_team_goal, home_player_1, home_player_2, home_player_3, home_player_4, home_player_5, home_player_6, home_player_7, home_player_8, home_player_9, home_player_10, home_player_11, away_player_1, away_player_2, away_player_3, away_player_4, away_player_5, away_player_6, away_player_7, away_player_8, away_player_9, away_player_10, away_player_11, goal, shoton, shotoff, foulcommit, card, cross, corner, possession, B365H, B365D, B365A FROM Match", cnx)
league_data = pd.read_sql("SELECT id, country_id, name FROM League", cnx)
country_data = pd.read_sql("SELECT id, name FROM Country", cnx)
team_data = pd.read_sql("SELECT id, team_api_id, team_long_name, team_short_name FROM Team", cnx)
team_attributes_data = pd.read_sql("SELECT id, team_api_id, date, buildUpPlaySpeed, buildUpPlaySpeedClass, buildUpPlayDribbling, buildUpPlayDribblingClass, buildUpPlayPassing, buildUpPlayPassingClass, buildUpPlayPositioningClass, chanceCreationPassing, chanceCreationPassingClass, chanceCreationCrossing, chanceCreationCrossingClass, chanceCreationShooting, chanceCreationShooting, chanceCreationPositioningClass, defencePressure, defencePressureClass, defenceAggression, defenceAggressionClass, defenceTeamWidth, defenceTeamWidthClass, defenceDefenderLineClass FROM Team_Attributes", cnx)


def null_counts( dataframe ):
    '''
    Get percentage of empty values per column

    Args:
        dataframe: dataframe containing at least one column and value

    Returns:
        Returns nothing, prints percentages
    '''
    null_counts = dataframe.isnull().sum()
    null_percents = null_counts / len(dataframe) * 100
    print(null_percents)


null_counts(player_data)
null_counts(player_stats_data)
null_counts(match_data)
null_counts(league_data)
null_counts(country_data)
null_counts(team_data)
null_counts(team_attributes_data)

id               0.0
player_api_id    0.0
player_name      0.0
birthday         0.0
height           0.0
weight           0.0
dtype: float64
id                     0.000000
player_api_id          0.000000
date                   0.000000
overall_rating         0.454402
potential              0.454402
preferred_foot         0.454402
attacking_work_rate    1.755645
defensive_work_rate    0.454402
crossing               0.454402
finishing              0.454402
heading_accuracy       0.454402
short_passing          0.454402
volleys                1.474633
dribbling              0.454402
curve                  1.474633
free_kick_accuracy     0.454402
long_passing           0.454402
ball_control           0.454402
acceleration           0.454402
sprint_speed           0.454402
agility                1.474633
reactions              0.454402
shot_power             0.454402
jumping                1.474633
stamina                0.454402
strength               0.454402
long_shots             0.454402
aggression             0.454402
interceptions          0.454402
positioning            0.454402
vision                 1.474633
penalties              0.454402
marking                0.454402
standing_tackle        0.454402
sliding_tackle         1.474633
gk_diving              0.454402
gk_handling            0.454402
gk_kicking             0.454402
gk_positioning         0.454402
gk_reflexes            0.454402
dtype: float64
id                   0.000000
country_id           0.000000
league_id            0.000000
season               0.000000
stage                0.000000
date                 0.000000
match_api_id         0.000000
home_team_api_id     0.000000
away_team_api_id     0.000000
home_team_goal       0.000000
away_team_goal       0.000000
home_player_1        4.711498
home_player_2        5.061781
home_player_3        4.930906
home_player_4        5.092575
home_player_5        5.065630
home_player_6        5.100273
home_player_7        4.723046
home_player_8        5.038685
home_player_9        4.900112
home_player_10       5.527541
home_player_11       5.985604
away_player_1        4.749990
away_player_2        4.919358
away_player_3        4.977097
away_player_4        5.084876
away_player_5        5.138766
away_player_6        5.054082
away_player_7        4.753840
away_player_8        5.161862
away_player_9        5.111821
away_player_10       5.546788
away_player_11       5.981754
goal                45.275030
shoton              45.275030
shotoff             45.275030
foulcommit          45.275030
card                45.275030
cross               45.275030
corner              45.275030
possession          45.275030
B365H               13.037453
B365D               13.037453
B365A               13.037453
dtype: float64
id            0.0
country_id    0.0
name          0.0
dtype: float64
id      0.0
name    0.0
dtype: float64
id                 0.0
team_api_id        0.0
team_long_name     0.0
team_short_name    0.0
dtype: float64
id                                 0.000000
team_api_id                        0.000000
date                               0.000000
buildUpPlaySpeed                   0.000000
buildUpPlaySpeedClass              0.000000
buildUpPlayDribbling              66.460905
buildUpPlayDribblingClass          0.000000
buildUpPlayPassing                 0.000000
buildUpPlayPassingClass            0.000000
buildUpPlayPositioningClass        0.000000
chanceCreationPassing              0.000000
chanceCreationPassingClass         0.000000
chanceCreationCrossing             0.000000
chanceCreationCrossingClass        0.000000
chanceCreationShooting             0.000000
chanceCreationShooting             0.000000
chanceCreationPositioningClass     0.000000
defencePressure                    0.000000
defencePressureClass               0.000000
defenceAggression                  0.000000
defenceAggressionClass             0.000000
defenceTeamWidth                   0.000000
defenceTeamWidthClass              0.000000
defenceDefenderLineClass           0.000000
dtype: float64

# Datenaufbereitung
In diesem Code-Abschnitt werden die Daten bereinigt und für das maschinelle Lernen aufbereitet. Dazu werden die im vorherigen Abschnitt gesammelten Erkenntnisse zu den Anteilen von Leeren Werten je Spalte dazu genutzt, Spalten mit mangelnder Aussagekraft vollständig zu entfernen (`drop()`). Daraufhin wird sich außerdem der verbliebenen leeren Werte in allen Zeilen angenommen.

## Spielerratings
Die Tabelle Player_Attributes (Dtaframe `player_stats_data`) enthält Spiellerratings für alle Spieler zu verschiedenen Zeitpunkten. Dabei haben manche Spieler mehrere Ratings pro Jahr, andere nur ein Rating pro Jahr, wieder andere nur ein Rating in mehreren Jahren. Um diese unterschiedlichen Vorraussetzungen für alle Spieler auf ein Niveau zu bringen, werden mehrere unterjährige Ratings auf ein einzelnes gemittelt. Im folgenden wird dann für jeden Spieler das Rating aus dem benötigten Jahr verwendet. Gibt es kein Rating aus diesem Jahr, wird das naheliegenste Rating herangezogen.

In [71]:
match_data = match_data.drop(columns=["goal", "shoton", "shotoff", "foulcommit", "card", "cross", "corner", "possession"], axis=1)
team_attributes_data = team_attributes_data.drop("buildUpPlayDribbling", axis=1)

df_dropped = match_data.dropna()
player_stats_data = player_stats_data.dropna()

In [73]:


def get_nearest_rating(date, player_api_id):
    '''
    Get player rating closest to the provided date

    Args:
        date: Date as int. (yyyymmdd)
        player_api_id: player_api_id as int.

    Returns:
        Returns a new dataframe containing all player attributes for the nearest date.

    Raises:
        ValueError: No data for provided player_api_id
    '''
    all_ratings_for_player: pd.DataFrame = player_stats_data.loc[player_stats_data["player_api_id"] == player_api_id]
    if (all_ratings_for_player.empty):
        raise ValueError(f"No data for provided player_api_id: {player_api_id}")
    if (len(all_ratings_for_player.index) == 1):
        return all_ratings_for_player
    intdate: pd.DataFrame = pd.DataFrame(columns=["date"], dtype=np.int8)
    for index, row in all_ratings_for_player.iterrows():
        rowdate: str = row["date"][:10]
        rowdate = rowdate.replace('-', '')
        intdate.loc[index] = int(rowdate)
    intdate = intdate.set_index('date')
    intdate.sort_index(inplace = True)
    index = intdate.index.get_indexer([date], method="nearest")
    all_ratings_for_player.reset_index(inplace=True, drop=True)
    print(type(all_ratings_for_player.loc[index]))
    return all_ratings_for_player.loc[index]

def get_average_team_rating(team_api_id, match_api_id, dataframe, matchdate):
    #matchDate: str = dataframe["date"].item()
    #matchDate = matchDate[:10]
    #matchDate = matchDate.replace('-', '')
    #matchDateInt: np.int8 = int(matchDate)

    teamRating: int = 0
    missingPlayers = 0
    for name, series in dataframe.items():
        try:
            teamRating = teamRating + get_nearest_rating(date=matchdate, player_api_id=int(series.item()))["overall_rating"]
            print(teamRating)
        except ValueError:
            missingPlayers += 1
        
    #print(f"Mannschaftsrating: {teamRating}")
    #print(f"Fehlende Spieler: {missingPlayers}")
    return teamRating / (11 - missingPlayers)


def get_average_height(player_api_id):
    singleHeight = (player_data['height'].loc[player_data['player_api_id'] == player_api_id]).item()
    if not singleHeight:
        raise ValueError(f"No height-value for provided player_api_id: {player_api_id}")
    else:
        return singleHeight
    

def get_average_weight(player_api_id):
    singleWeight = (player_data['weight'].loc[player_data['player_api_id'] == player_api_id]).item()
    if not singleWeight:
        raise ValueError(f"No weight-value for provided player_api_id: {player_api_id}")
    else:
        return singleWeight


def get_average_age(player_api_id, date):
    birthdate = (player_data['birthday'].loc[player_data['player_api_id'] == player_api_id]).item()
    if not birthdate:
        raise ValueError(f"No age-value for provided player_api_id: {player_api_id}")
    else:
        birthdate = birthdate[:10]
        birthdate = birthdate.replace('-', '') 

        matchYear = str(date)[:4]
        birthYear = str(birthdate)[:4]
        matchMonth = str(date)[4:6]
        birthMonth = str(birthdate)[4:6]

        if int(matchMonth) < int(birthMonth):
            return int(matchYear) - int(birthYear) - 1
        elif int(matchMonth) == int(birthMonth):
            matchDay = str(date)[6:8]
            birthDay = str(birthdate)[6:8]
            if(int(matchDay) < int(birthDay)):
                return int(matchYear) - int(birthYear)
            else:
                return int(matchYear) - int(birthYear) 
        else:
            return int(matchYear) - int(birthYear)


def get_right_foot_percentage(player_api_id):
    
    df_all_feet_player = player_stats_data['preferred_foot'].loc[player_stats_data['player_api_id'] == player_api_id]
    df_all_feet_player.reset_index(inplace=True, drop=True)

    if df_all_feet_player.empty:
        raise ValueError(f"No preferred_foot-value for provided player_api_id: {player_api_id}")
    strongFoot = df_all_feet_player[0]
    
    if str(strongFoot) == 'right':
        return 1
    else:
        return 0


def set_label(dataframe, match_api_id):
    homeGoals = dataframe['home_team_goal'].item()
    awayGoals = dataframe['away_team_goal'].item()

    if homeGoals > awayGoals:
        return 'Win'
    if homeGoals < awayGoals:
        return 'Lose'
    if homeGoals == awayGoals:
        return 'Draw'
    

for index, match_api_id in df_dropped['match_api_id'].iteritems():
    home_api_id = match_data['home_team_api_id'].loc[match_data['match_api_id'] == match_api_id].item()
    away_api_id = match_data['away_team_api_id'].loc[match_data['match_api_id'] == match_api_id].item()
    

    df_match = match_data.loc[match_data["match_api_id"] == match_api_id]
    df_match_home_player = df_match[["home_player_1", "home_player_2", "home_player_3", "home_player_4", "home_player_5", "home_player_6", "home_player_7","home_player_8", "home_player_9", "home_player_10", "home_player_11"]]
    df_match_away_player = df_match[["away_player_1", "away_player_2", "away_player_3", "away_player_4", "away_player_5", "away_player_6", "away_player_7","away_player_8", "away_player_9", "away_player_10", "away_player_11"]] 
   

    matchDate: str = df_match["date"].item()
    matchDate = matchDate[:10]
    matchDate = matchDate.replace('-', '')
    matchDateInt: np.int8 = int(matchDate)



    average_team_rating_home = get_average_team_rating(match_api_id=match_api_id, team_api_id=home_api_id, dataframe=df_match_home_player, matchdate=matchDateInt)
    #average_team_rating_away = get_average_team_rating(match_api_id=match_api_id, team_api_id=away_api_id, dataframe=df_match_away_player, matchdate=matchDateInt)

    #print(average_team_rating_home)
    

    label_outcome = set_label(df_match, match_api_id)

#get_match_features(530240)

C:\Users\engel\AppData\Local\Temp\ipykernel_12076\1232692513.py:123: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for index, match_api_id in df_dropped['match_api_id'].iteritems():

<class 'pandas.core.frame.DataFrame'>
3    66.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    131.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    204.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    270.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    341.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    66.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    128.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    191.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    258.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    329.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    397.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    463.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    533.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    601.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    667.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    69.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    142.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    212.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    283.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    355.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    423.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    505.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    578.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    657.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    726.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    799.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    66.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    131.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    204.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    269.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    339.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    410.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    476.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    71.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    138.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    207.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    271.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    337.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    401.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    470.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    70.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    136.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    202.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    277.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    342.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    410.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    476.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    554.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    622.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    693.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2    64.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    69.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    144.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    217.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    288.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    360.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    425.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    493.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    572.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    654.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    727.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    800.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2    64.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2    64.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    71.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    138.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    207.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    271.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    337.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    406.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    70.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    134.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    199.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    265.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    66.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    131.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    195.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    258.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    322.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    71.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    138.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    203.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    268.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    340.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    414.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    492.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    573.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    69.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    144.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    217.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    288.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    360.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    425.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    492.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    571.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    653.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2    63.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    69.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    135.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    201.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    274.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    70.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    135.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    201.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    66.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    70.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
4    64.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
4    71.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
4    139.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
5   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
5   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
5   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
5   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3    69.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
2   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1    65.0
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
3   NaN
4   NaN
Name: overall_rating, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1   NaN
3   NaN
4   NaN

#Überprüfung ob jeder Spieler aus Match_data auch in der Spielerdatenbank

In [ ]:
# Select the player columns
player_cols = ['home_player_1', 'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10', 'away_player_11']
    
# Combine the columns horizontally
combined_players = pd.concat([match_data[col] for col in player_cols])

# Remove duplicates
unique_players = combined_players.drop_duplicates()
print(unique_players[0])

# Check if every entry in the Series is in column A of the DataFrame
mask = unique_players.isin(player_data['player_api_id'])

# Replace the entries not in column A with a specified value
unique_players[~mask] = -1

# find the indices where the value is -1
indices = unique_players.index[unique_players == -1]

# count the number of occurrences of each unique value in the series
counts = unique_players.value_counts()

# print the indices & print the number of occurrences of -1
print(counts[-1])
print(indices)

nan
1
Int64Index([0], dtype='int64')

#Hier muss noch die Zusammenführung der Daten geschehen in ein Dataframe df

In [ ]:
df = pd.DataFrame()

In [ ]:
# Korrelaitonsmatrix erstellt und in corr_matrix gespeichert => enthält Korrleationskoeffizienten zwischen allen möglichen Paaren
corr_matrix = df.corr()

# stack() wandelt Matrix in Series um, bei der jedes Element ein Paar von Spaltennamen und der Korrelationskoeffizient zwischen diesen Spalten ist
# [abs(corr_matrix) > 0.9] reduziert die Werte auf nur Werte mit einem Wert über 0.9
high_corr_pairs = corr_matrix.stack()[abs(corr_matrix.stack()) > 0.9]

# Indizes der Serie werden zu Spaltennamen des Dataframe 
high_corr_pairs = high_corr_pairs.reset_index()

# Spaltennamen des DataFrames umbenannt für bessere Lesbarkeit
high_corr_pairs.columns = ['Column 1', 'Column 2', 'Correlation']

print(high_corr_pairs)

Empty DataFrame
Columns: [Column 1, Column 2, Correlation]
Index: []

#Chi Squared

In [ ]:
 # erstelle ein Dataframe für die Ergebnis von Chi2
chi2_results_df = pd.DataFrame(columns=['Column 1', 'Column 2', 'Chi-Squared', 'P-Value'])

# iteriert über jede Spalte des Dataframes
for col in df.columns:
    comparison_col = col

    # iteriert über jede Spalte des Dataframes
    for col in df.columns:

        # überspringt den Schritt, wenn die Spalten die gleichen sind
        if col == comparison_col:
            continue

        # erstellt eine Kontingenztabelle
        contingency_table = pd.crosstab(df[comparison_col], df[col])

        # führt chi2 aus und printed das Ergebnis
        chi2, pval, dof, expected = chi2_contingency(contingency_table)
                    #print(f\Chi-squared test for columns '{comparison_col}' and '{col}': chi2={chi2}, pval={pval}\)
        results_df = results_df.append({'Column 1': comparison_col, 'Column 2': col, 'Chi-Squared': chi2, 'P-Value': pval}, ignore_index=True)

    print(results_df)

TODO: Was machen wir mit dem Ergebnis

#Wrapper Methode
Sucht die beste Untergruppe von Features für ein Mdoell, indem eine Modell-basierte Bewertung der Feature-Untergruppen durchführen.

In [ ]:
# Trennung von Features und Zielvariablen
features = df.drop('whoWon', axis=1)
target = df['whoWon']

# Definition des Modells
model = LinearRegression()

# Erstellung des RFE-Objekts mit 10 gewünschten Features
rfe = RFE(model, n_features_to_select=10)

# Anpassung des RFE-Objekts an die Daten
rfe.fit(features, target)

# Ausgabe der ausgewählten Features
selected_features = features.columns[rfe.support_]
print(selected_features)

KeyError: "['whoWon'] not found in axis"

#Random Forest

In [ ]:
# Trennung von Features und Zielvariablen
features = df.drop('whoWon', axis=1)
target = df['whoWon']

# Aufteilen der Daten in Trainings- und Testdaten
features_train, features_test, target_train, target_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Definition des Random-Forest-Modells
rf = RandomForestClassifier(n_estimators=100, random_state=42)

# Training des Modells auf den Trainingsdaten
rf.fit(features_train, target_train)

# Vorhersage auf den Testdaten
target_pred = rf.predict(features_test)

# Berechnung der Genauigkeit
accuracy = accuracy_score(target_test, target_pred)
print(f"Genauigkeit: {accuracy}")

#Logistische Regression

In [ ]:
# Trennung von Features und Zielvariablen
features = df.drop('whoWon', axis=1)
target = df['whoWon']

# Aufteilen der Daten in Trainings- und Testdaten
features_train, features_test, target_train, target_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Definition des logistischen Regressionsmodells
lr = LogisticRegression()

# Training des Modells auf den Trainingsdaten
lr.fit(features_train, target_train)

# Vorhersage auf den Testdaten
target_pred = lr.predict(features_test)

# Berechnung der Genauigkeit
accuracy = accuracy_score(target_test, target_pred)
print(f"Genauigkeit: {accuracy}")